<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Greetings</title>
    <style>
        body {
            background-color: #f0dd81;
            margin: 0;
            padding: 0;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: 'Source Code Pro', Menlo, Monaco, fixed-width;
        }

        h1 {
            color: #251664;
            font-size: 60px;
        }
    </style>
</head>

<body>
    <h1 style="text-align: center;">Hello {{name}}! {{message}}</h1>
</body>

</html>